@model RSVP.Models.Character

@{
    ViewBag.Title = "View Character";
}

<h4>@ViewBag.Title</h4>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Allegiance(s) (if any)</th>
        <th>Book(s) featured</th>
    </tr>
    @if (Model != null)
    {
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Gender</td>
        <td>@Model.Allegiance</td>
        <td>@Model.Book</td>
    </tr>
    }
</table>