@{
    ViewBag.Title = "Dish Confirmation";
}

<h2>@ViewBag.Message</h2>

<div>
    <h4>Here's what we've got:</h4>
    <ul>
        <li>Name: @Model.PersonName</li>
        <li>Phone: @Model.PhoneNumber</li>
        <li>Dish: @Model.DishName</li>
        <li>Description: @Model.DishDescription</li>
        <li>
            Special considerations:
            <ul>
                @if (Model.Option != null)
                {
                    <li>@Model.Option</li>

                }
                else
                {
                    <li>None</li>
                }
            </ul>
        </li>
    </ul>
</div>

<h4>@ViewBag.ConfirmMessage</h4>
<p>Take a look at the other great dishes guests are bringing!</p>
<p><a class="btn btn-primary" href="/Home/ViewDishes">Dish on these dishes &raquo;</a></p>
