
@{
    ViewBag.Title = "EditDish";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>Change the dish that was originally input</h3>
    <h6>This is assuming you're an admin, of course</h6>
</div>

<form action="~/Home/SaveDishChanges/" method="post">
    <div class="col-sm-6">
        <input type="hidden" name="DishID" value="@Model.DishID" />
        <label for="PersonName">Person Name:</label>
        <input type="text" name="PersonName" value="@Model.PersonName" />
    </div>
    <div class="col-sm-6">
        <label for="PhoneNumber">Phone Number:</label>
        <input type="text" name="PhoneNumber" value="@Model.PhoneNumber" />
    </div>
    <div class="col-sm-6">
        <label for="DishName">Dish Name:</label>
        <input type="text" name="DishName" value="@Model.DishName" />
    </div>
    <div class="col-sm-6">
        <label for="DishDescription">Dish Description:</label>
        <input type="text" name="DishDescription" value="@Model.DishDescription" />
    </div>
    <div class="col-sm-6">
        <label for="Option">Dietary Options:</label>
        <input type="text" name="Option" value="@Model.Option" />
    </div>
        <input type="submit" class="btn btn-primary" />
</form>

