
@{
    ViewBag.Title = "R.S.V.P. Confirmation";
}

<h2>@ViewBag.Message</h2>

<div>
    <h4>Here's what we've got:</h4>
    <ul>
        <li>Name: @Model.FirstName @Model.LastName</li>
        <li>Email: @Model.Email</li>
        @{
            if (Model.Attending)
            {
                if (Model.PlusOne)
                {
                    <li>Attending: Yes (+1)</li>
                }
                else
                {
                    <li>Attending: Yes</li>
                }
            }
            else
            {
                <li>Attending: No</li>
            }
        }
    </ul>
</div>

<h4>@ViewBag.ConfirmMessage</h4>

@{
    if (Model.Attending)
    {
        <p>How about submitting the dish you're bringing while you're at it?</p>
        <p><a class="btn btn-primary" href="/Home/BringADish">Dish it out &raquo;</a></p>
    }
}




