
@{
    ViewBag.Title = "R.S.V.P. Confirmation";
}

<h2>@ViewBag.Message</h2>

<div>
    <h4>Here's what we've got:</h4>
    <ul>
        <li>Name: @Model.FirstName @Model.LastName</li>
        <li>Email: @Model.EmailAddress</li>
        @{
            if (Model.AttendanceDate != null)
            {
                if (Model.Guest1 != null)
                {
                    <li>Attending: Yes (w/@Model.Guest1)</li>
                    <li>Date attending: @Model.AttendanceDate</li>
                }
                else
                {
                    <li>Attending: Yes</li>
                    <li>Date attending: @Model.AttendanceDate</li>
                }
                <li>Character chosen: @Model.CharacterID</li>
            }
            else
            {
                <li>Attending: No</li>
            }
        }
    </ul>
</div>

<h4>@ViewBag.ConfirmMessage</h4>

@{
    if (Model.AttendanceDate != null)
    {
        <p>How about submitting the dish you're bringing while you're at it?</p>
        <p><a class="btn btn-primary" href="/Home/BringADish">Dish it out &raquo;</a></p>
    }
}




