
@{
    ViewBag.Title = "View Dishes";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <h6>Especially if it's worse</h6>
</div>
<p>@ViewBag.ErrorMessage</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Dish ID</th>
            <th scope="col">Person Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Dish Name</th>
            <th scope="col">Dish Description</th>
            <th scope="col">Dietary Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dish in ViewBag.DishList)
        {
            <tr>
                <th scope="row">@dish.DishID</th>
                <td>@dish.PersonName</td>
                <td>@dish.PhoneNumber</td>
                <td>@dish.DishName</td>
                <td>@dish.DishDescription</td>
                <td>@dish.Option</td>
                <td><a href="~/Home/EditDish?DishID=@dish.DishID">Edit this dish</a></td>
                <td><a href="~/Home/DeleteDish?DishID=@dish.DishID">Delete this dish</a></td>
            </tr>
        }
    </tbody>    
</table>
<a href="~/Home/BringADish" class="btn btn-group">Add a new dish to the database</a>

<ul class="pagination">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>